.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: white;
  z-index: 1000;

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
}