// Font Size Variables
$font-size-xxl: 30px;
$font-size-xl: 28px;
$font-size-lg: 24px;
$font-size-md: 22px;
$font-size-base: 20px;
$font-size-regular: 19px;
$font-size-sm: 18px;
$font-size-xs: 16px;
$font-size-xxs: 14px;
$font-size-xxxs: 12px;